<!-- Details Page - Auction owner -->
<section id="catalog-section">

    <h1 class="item">
        {{item.title}}
        <div class="f-right">
            <a class="action pad-small f-left" href="/item/edit/{{item._id}}">Edit</a>
            <a class="action pad-small f-left" href="/item/delete/{{item._id}}">Delete</a>
        </div>
    </h1>
    <div class="item padded">

        <div class="layout right large">

            <div class="col">
                <img src="{{item.imageUrl}}" class="img-large">
            </div>

            <div class="content pad-med">

                <p>In category: <strong>{{item.category}}</strong></p>
                <p>{{item.description}}</p>

                <div class="align-center">
                    <div>
                        Current price: $<strong>{{item.price}}</strong>
                    </div>

                    {{#if item.bidder}}
                    <div>
                        <!-- If there is a bidder -->
                        Bid by <strong>{{item.bidderUser.firstName}} {{item.bidderUser.firstName}}</strong>

                        <!-- # Bonus: If there is a bidder -->
                        <!--

                                    <a class="action pad-med cta" href="#">Close Auction</a>
                                    
                                    # End of Bonus -->
                        {{else}}
                        <!-- If there are no bids -->
                        No bids
                    </div>
                    {{/if}}
                </div>

            </div>
        </div>

        <footer>Listed by {{user.firstName}} {{user.lastName}}</footer>
    </div>

</section>