<section id="my-posts">
    <h1>My post.</h1>

    <div class="my-container">
        {{#if data}}
        <!-- If there are own posts for wildlife in the database display each of them -->
        {{#each data}}
        <div class="my-card">
            <div class="card-header">
                <img src="{{imageUrl}}" alt="{{title}}" />
            </div>
            <div class="card-body">
                <span class="tag tag-teal">Keyword: {{keyword}}</span>
                <h4>
                    Title: {{title}}
                </h4>
                <div class="user">
                    <img src="https://snworksceo.imgix.net/dtc/3f23c937-0065-4e17-8daa-46449777caed.sized-1000x1000.jpg?w=1000"
                        alt="vote" />
                    <div class="user-info">
                        <h5>Author: {{author.email}}</h5>
                        <small>Rating of votes: {{raiting}}</small>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        {{else}}
        <!-- If there are still no own posts for wildlife in the database display: -->
        <div class="no-posts">
            <div class="no-posts-img">
                <img src="/static/img/bear.jpg" alt="image_nature_3">
            </div>
            <p class="no-offer">There are no own posts yet...</p>
        </div>
        {{/if}}
    </div>
</section>